{% extends "shop/base.html" %}
{% load static %}

{% block extra_head %}

<script src="{% static 'shop/js/script.js' %}"></script>
{% endblock %}


{% block main %}


<form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    
    <select name="category">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>

    <input type="text" name="name" value="test">
    <textarea name="description">test</textarea>
    <input type="number" name="price" value="100">

    <input class="add_image" type="button" value="追加">
    <div id="image_area">
        <input type="file" name="image">
    </div>

    <input type="submit" value="送信">

</form>





{% for product in products %}
<div class="border">
    <div>{{ product.name }}</div>
    <div>{{ product.dt }}</div>

    <div>{{ product.price }}</div>

    {% for p in product.images %}
    <div>
        <img style="max-width:100%;" src="{{ p.image.url }}" alt="">
    </div>
    {% endfor %}
</div>
{% endfor %}


{% endblock %}

